[Unit]
Description=Pyrus Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/PyrusTelegramBot
Environment=PYTHONPATH=/root/PyrusTelegramBot
EnvironmentFile=/root/PyrusTelegramBot/.env
ExecStart=/usr/bin/python3 -m app.bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
